<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="false" xmlns:log4j="http://jakarta.apache.org/log4j/">
  <!-- Appenders -->
  <appender name="Stdout" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%d{MM/dd/yy HH:mm:ss:S}](%t) %-5p - %-26.26c{1} - %m%n"  />
    </layout>
  </appender>

  <appender name="StdoutFile" class="org.apache.log4j.RollingFileAppender" >
     <param name="File" value="${atomserver.logdir}/${atomserver.logfilename}.stdout.log" />
     <param name="Append" value="true" />
     <param name="MaxFileSize"  value="20MB" />
     <param name="MaxBackupIndex" value="10" />
     <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="[%d{MM/dd/yy HH:mm:ss:S}](%t) %-5p - %-26.26c{1} - %m%n" />
     </layout>
  </appender>

  <appender name="Http500log" class="org.apache.log4j.RollingFileAppender" >
     <param name="File" value="${atomserver.logdir}/${atomserver.logfilename}.500errors.log" />
     <param name="Append" value="true" />
     <param name="MaxFileSize"  value="20MB" />
     <param name="MaxBackupIndex" value="10" />
     <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="[%d{MM/dd/yy HH:mm:ss:S}](%t) %-5p - %-26.26c{1} - %m%n" />
     </layout>
  </appender>

  <!-- perf4j appender -->
  <appender name="Perf4Jlog" class="org.apache.log4j.RollingFileAppender">
     <param name="File" value="${atomserver.logdir}/${atomserver.logfilename}.perf4j.log"/>
     <param name="Append" value="true" />
     <param name="MaxFileSize"  value="20MB" />
     <param name="MaxBackupIndex" value="10" />
     <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d{MM/dd/yy,HH:mm:ss:S},%m%n" />
     </layout>
    </appender>

  <logger name="org.springframework">
      <level value="WARN"/>
  </logger>

  <logger name="org.apache.abdera">
      <level value="INHERITED"/>
  </logger>

  <logger name="org.mortbay">
      <level value="INHERITED"/>
  </logger>

  <logger name="org.acegisecurity.event.authentication.LoggerListener">
      <level value="WARN"/>
  </logger>

  <logger name="org.acegisecurity.event.authorization.LoggerListener">
      <level value="WARN"/>
  </logger>

   <logger name="org.atomserver">
      <level value="${atomserver.loglevel}"/>
  </logger>

   <logger name="org.atomserver.http500errors" additivity="false">
      <level value="INFO"/>
      <appender-ref ref="Http500log"/>
  </logger>


  <!-- perf4J Loggers -->
  <logger name="org.perf4j.TimingLogger" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="Perf4Jlog"/>
  </logger>

  <root>
    <level value="${root.loglevel}"/>
    <!-- appender-ref ref="${root.appender}"/>  - does not work with log4j.1.2.13 -->
    <appender-ref ref="StdoutFile" />
  </root>
</log4j:configuration>
