insert into country (countrycode,countryname)  select '**','THE DEFAULT COUNTRY' where not exists (select null from country where countrycode = '**')
insert into country (countrycode,countryname)  select 'AD','ANDORRA' where not exists (select null from country where countrycode = 'AD')
insert into country (countrycode,countryname)  select 'AE','UNITED ARAB EMIRATES' where not exists (select null from country where countrycode = 'AE')
insert into country (countrycode,countryname)  select 'AF','AFGHANISTAN' where not exists (select null from country where countrycode = 'AF')
insert into country (countrycode,countryname)  select 'AG','ANTIGUA AND BARBUDA' where not exists (select null from country where countrycode = 'AG')
insert into country (countrycode,countryname)  select 'AI','ANGUILLA' where not exists (select null from country where countrycode = 'AI')
insert into country (countrycode,countryname)  select 'AL','ALBANIA' where not exists (select null from country where countrycode = 'AL')
insert into country (countrycode,countryname)  select 'AM','ARMENIA' where not exists (select null from country where countrycode = 'AM')
insert into country (countrycode,countryname)  select 'AN','NETHERLANDS ANTILLES' where not exists (select null from country where countrycode = 'AN')
insert into country (countrycode,countryname)  select 'AO','ANGOLA' where not exists (select null from country where countrycode = 'AO')
insert into country (countrycode,countryname)  select 'AQ','ANTARCTICA' where not exists (select null from country where countrycode = 'AQ')
insert into country (countrycode,countryname)  select 'AR','ARGENTINA' where not exists (select null from country where countrycode = 'AR')
insert into country (countrycode,countryname)  select 'AS','AMERICAN SAMOA' where not exists (select null from country where countrycode = 'AS')
insert into country (countrycode,countryname)  select 'AT','AUSTRIA' where not exists (select null from country where countrycode = 'AT')
insert into country (countrycode,countryname)  select 'AU','AUSTRALIA' where not exists (select null from country where countrycode = 'AU')
insert into country (countrycode,countryname)  select 'AW','ARUBA' where not exists (select null from country where countrycode = 'AW')
insert into country (countrycode,countryname)  select 'AZ','AZERBAIJAN' where not exists (select null from country where countrycode = 'AZ')
insert into country (countrycode,countryname)  select 'BA','BOSNIA AND HERZEGOVINA' where not exists (select null from country where countrycode = 'BA')
insert into country (countrycode,countryname)  select 'BB','BARBADOS' where not exists (select null from country where countrycode = 'BB')
insert into country (countrycode,countryname)  select 'BD','BANGLADESH' where not exists (select null from country where countrycode = 'BD')
insert into country (countrycode,countryname)  select 'BE','BELGIUM' where not exists (select null from country where countrycode = 'BE')
insert into country (countrycode,countryname)  select 'BF','BURKINA FASO' where not exists (select null from country where countrycode = 'BF')
insert into country (countrycode,countryname)  select 'BG','BULGARIA' where not exists (select null from country where countrycode = 'BG')
insert into country (countrycode,countryname)  select 'BH','BAHRAIN' where not exists (select null from country where countrycode = 'BH')
insert into country (countrycode,countryname)  select 'BI','BURUNDI' where not exists (select null from country where countrycode = 'BI')
insert into country (countrycode,countryname)  select 'BJ','BENIN' where not exists (select null from country where countrycode = 'BJ')
insert into country (countrycode,countryname)  select 'BM','BERMUDA' where not exists (select null from country where countrycode = 'BM')
insert into country (countrycode,countryname)  select 'BN','BRUNEI DARUSSALAM' where not exists (select null from country where countrycode = 'BN')
insert into country (countrycode,countryname)  select 'BO','BOLIVIA' where not exists (select null from country where countrycode = 'BO')
insert into country (countrycode,countryname)  select 'BR','BRAZIL' where not exists (select null from country where countrycode = 'BR')
insert into country (countrycode,countryname)  select 'BS','BAHAMAS' where not exists (select null from country where countrycode = 'BS')
insert into country (countrycode,countryname)  select 'BT','BHUTAN' where not exists (select null from country where countrycode = 'BT')
insert into country (countrycode,countryname)  select 'BV','BOUVET ISLAND' where not exists (select null from country where countrycode = 'BV')
insert into country (countrycode,countryname)  select 'BW','BOTSWANA' where not exists (select null from country where countrycode = 'BW')
insert into country (countrycode,countryname)  select 'BY','BELARUS' where not exists (select null from country where countrycode = 'BY')
insert into country (countrycode,countryname)  select 'BZ','BELIZE' where not exists (select null from country where countrycode = 'BZ')
insert into country (countrycode,countryname)  select 'CA','CANADA' where not exists (select null from country where countrycode = 'CA')
insert into country (countrycode,countryname)  select 'CC','COCOS (KEELING) ISLANDS' where not exists (select null from country where countrycode = 'CC')
insert into country (countrycode,countryname)  select 'CD','CONGO, THE DEMOCRATIC REPUBLIC OF THE' where not exists (select null from country where countrycode = 'CD')
insert into country (countrycode,countryname)  select 'CF','CENTRAL AFRICAN REPUBLIC' where not exists (select null from country where countrycode = 'CF')
insert into country (countrycode,countryname)  select 'CG','CONGO' where not exists (select null from country where countrycode = 'CG')
insert into country (countrycode,countryname)  select 'CH','SWITZERLAND' where not exists (select null from country where countrycode = 'CH')
insert into country (countrycode,countryname)  select 'CI','CÔTE D''IVOIRE' where not exists (select null from country where countrycode = 'CI')
insert into country (countrycode,countryname)  select 'CK','COOK ISLANDS' where not exists (select null from country where countrycode = 'CK')
insert into country (countrycode,countryname)  select 'CL','CHILE' where not exists (select null from country where countrycode = 'CL')
insert into country (countrycode,countryname)  select 'CM','CAMEROON' where not exists (select null from country where countrycode = 'CM')
insert into country (countrycode,countryname)  select 'CN','CHINA' where not exists (select null from country where countrycode = 'CN')
insert into country (countrycode,countryname)  select 'CO','COLOMBIA' where not exists (select null from country where countrycode = 'CO')
insert into country (countrycode,countryname)  select 'CR','COSTA RICA' where not exists (select null from country where countrycode = 'CR')
insert into country (countrycode,countryname)  select 'CU','CUBA' where not exists (select null from country where countrycode = 'CU')
insert into country (countrycode,countryname)  select 'CV','CAPE VERDE' where not exists (select null from country where countrycode = 'CV')
insert into country (countrycode,countryname)  select 'CX','CHRISTMAS ISLAND' where not exists (select null from country where countrycode = 'CX')
insert into country (countrycode,countryname)  select 'CY','CYPRUS' where not exists (select null from country where countrycode = 'CY')
insert into country (countrycode,countryname)  select 'CZ','CZECH REPUBLIC' where not exists (select null from country where countrycode = 'CZ')
insert into country (countrycode,countryname)  select 'DE','GERMANY' where not exists (select null from country where countrycode = 'DE')
insert into country (countrycode,countryname)  select 'DJ','DJIBOUTI' where not exists (select null from country where countrycode = 'DJ')
insert into country (countrycode,countryname)  select 'DK','DENMARK' where not exists (select null from country where countrycode = 'DK')
insert into country (countrycode,countryname)  select 'DM','DOMINICA' where not exists (select null from country where countrycode = 'DM')
insert into country (countrycode,countryname)  select 'DO','DOMINICAN REPUBLIC' where not exists (select null from country where countrycode = 'DO')
insert into country (countrycode,countryname)  select 'DZ','ALGERIA' where not exists (select null from country where countrycode = 'DZ')
insert into country (countrycode,countryname)  select 'EC','ECUADOR' where not exists (select null from country where countrycode = 'EC')
insert into country (countrycode,countryname)  select 'EE','ESTONIA' where not exists (select null from country where countrycode = 'EE')
insert into country (countrycode,countryname)  select 'EG','EGYPT' where not exists (select null from country where countrycode = 'EG')
insert into country (countrycode,countryname)  select 'EH','WESTERN SAHARA' where not exists (select null from country where countrycode = 'EH')
insert into country (countrycode,countryname)  select 'ER','ERITREA' where not exists (select null from country where countrycode = 'ER')
insert into country (countrycode,countryname)  select 'ES','SPAIN' where not exists (select null from country where countrycode = 'ES')
insert into country (countrycode,countryname)  select 'ET','ETHIOPIA' where not exists (select null from country where countrycode = 'ET')
insert into country (countrycode,countryname)  select 'FI','FINLAND' where not exists (select null from country where countrycode = 'FI')
insert into country (countrycode,countryname)  select 'FJ','FIJI' where not exists (select null from country where countrycode = 'FJ')
insert into country (countrycode,countryname)  select 'FK','FALKLAND ISLANDS (MALVINAS)' where not exists (select null from country where countrycode = 'FK')
insert into country (countrycode,countryname)  select 'FM','MICRONESIA, FEDERATED STATES OF' where not exists (select null from country where countrycode = 'FM')
insert into country (countrycode,countryname)  select 'FO','FAROE ISLANDS' where not exists (select null from country where countrycode = 'FO')
insert into country (countrycode,countryname)  select 'FR','FRANCE' where not exists (select null from country where countrycode = 'FR')
insert into country (countrycode,countryname)  select 'GA','GABON' where not exists (select null from country where countrycode = 'GA')
insert into country (countrycode,countryname)  select 'GB','UNITED KINGDOM' where not exists (select null from country where countrycode = 'GB')
insert into country (countrycode,countryname)  select 'GD','GRENADA' where not exists (select null from country where countrycode = 'GD')
insert into country (countrycode,countryname)  select 'GE','GEORGIA' where not exists (select null from country where countrycode = 'GE')
insert into country (countrycode,countryname)  select 'GF','FRENCH GUIANA' where not exists (select null from country where countrycode = 'GF')
insert into country (countrycode,countryname)  select 'GH','GHANA' where not exists (select null from country where countrycode = 'GH')
insert into country (countrycode,countryname)  select 'GI','GIBRALTAR' where not exists (select null from country where countrycode = 'GI')
insert into country (countrycode,countryname)  select 'GL','GREENLAND' where not exists (select null from country where countrycode = 'GL')
insert into country (countrycode,countryname)  select 'GM','GAMBIA' where not exists (select null from country where countrycode = 'GM')
insert into country (countrycode,countryname)  select 'GN','GUINEA' where not exists (select null from country where countrycode = 'GN')
insert into country (countrycode,countryname)  select 'GP','GUADELOUPE' where not exists (select null from country where countrycode = 'GP')
insert into country (countrycode,countryname)  select 'GQ','EQUATORIAL GUINEA' where not exists (select null from country where countrycode = 'GQ')
insert into country (countrycode,countryname)  select 'GR','GREECE' where not exists (select null from country where countrycode = 'GR')
insert into country (countrycode,countryname)  select 'GS','SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS' where not exists (select null from country where countrycode = 'GS')
insert into country (countrycode,countryname)  select 'GT','GUATEMALA' where not exists (select null from country where countrycode = 'GT')
insert into country (countrycode,countryname)  select 'GU','GUAM' where not exists (select null from country where countrycode = 'GU')
insert into country (countrycode,countryname)  select 'GW','GUINEA-BISSAU' where not exists (select null from country where countrycode = 'GW')
insert into country (countrycode,countryname)  select 'GY','GUYANA' where not exists (select null from country where countrycode = 'GY')
insert into country (countrycode,countryname)  select 'HK','HONG KONG' where not exists (select null from country where countrycode = 'HK')
insert into country (countrycode,countryname)  select 'HM','HEARD ISLAND AND MCDONALD ISLANDS' where not exists (select null from country where countrycode = 'HM')
insert into country (countrycode,countryname)  select 'HN','HONDURAS' where not exists (select null from country where countrycode = 'HN')
insert into country (countrycode,countryname)  select 'HR','CROATIA' where not exists (select null from country where countrycode = 'HR')
insert into country (countrycode,countryname)  select 'HT','HAITI' where not exists (select null from country where countrycode = 'HT')
insert into country (countrycode,countryname)  select 'HU','HUNGARY' where not exists (select null from country where countrycode = 'HU')
insert into country (countrycode,countryname)  select 'ID','INDONESIA' where not exists (select null from country where countrycode = 'ID')
insert into country (countrycode,countryname)  select 'IE','IRELAND' where not exists (select null from country where countrycode = 'IE')
insert into country (countrycode,countryname)  select 'IL','ISRAEL' where not exists (select null from country where countrycode = 'IL')
insert into country (countrycode,countryname)  select 'IN','INDIA' where not exists (select null from country where countrycode = 'IN')
insert into country (countrycode,countryname)  select 'IO','BRITISH INDIAN OCEAN TERRITORY' where not exists (select null from country where countrycode = 'IO')
insert into country (countrycode,countryname)  select 'IQ','IRAQ' where not exists (select null from country where countrycode = 'IQ')
insert into country (countrycode,countryname)  select 'IR','IRAN, ISLAMIC REPUBLIC OF' where not exists (select null from country where countrycode = 'IR')
insert into country (countrycode,countryname)  select 'IS','ICELAND' where not exists (select null from country where countrycode = 'IS')
insert into country (countrycode,countryname)  select 'IT','ITALY' where not exists (select null from country where countrycode = 'IT')
insert into country (countrycode,countryname)  select 'JM','JAMAICA' where not exists (select null from country where countrycode = 'JM')
insert into country (countrycode,countryname)  select 'JO','JORDAN' where not exists (select null from country where countrycode = 'JO')
insert into country (countrycode,countryname)  select 'JP','JAPAN' where not exists (select null from country where countrycode = 'JP')
insert into country (countrycode,countryname)  select 'KE','KENYA' where not exists (select null from country where countrycode = 'KE')
insert into country (countrycode,countryname)  select 'KG','KYRGYZSTAN' where not exists (select null from country where countrycode = 'KG')
insert into country (countrycode,countryname)  select 'KH','CAMBODIA' where not exists (select null from country where countrycode = 'KH')
insert into country (countrycode,countryname)  select 'KI','KIRIBATI' where not exists (select null from country where countrycode = 'KI')
insert into country (countrycode,countryname)  select 'KM','COMOROS' where not exists (select null from country where countrycode = 'KM')
insert into country (countrycode,countryname)  select 'KN','SAINT KITTS AND NEVIS' where not exists (select null from country where countrycode = 'KN')
insert into country (countrycode,countryname)  select 'KP','KOREA, DEMOCRATIC PEOPLE''S REPUBLIC OF' where not exists (select null from country where countrycode = 'KP')
insert into country (countrycode,countryname)  select 'KR','KOREA, REPUBLIC OF' where not exists (select null from country where countrycode = 'KR')
insert into country (countrycode,countryname)  select 'KW','KUWAIT' where not exists (select null from country where countrycode = 'KW')
insert into country (countrycode,countryname)  select 'KY','CAYMAN ISLANDS' where not exists (select null from country where countrycode = 'KY')
insert into country (countrycode,countryname)  select 'KZ','KAZAKHSTAN' where not exists (select null from country where countrycode = 'KZ')
insert into country (countrycode,countryname)  select 'LA','LAO PEOPLE''S DEMOCRATIC REPUBLIC' where not exists (select null from country where countrycode = 'LA')
insert into country (countrycode,countryname)  select 'LB','LEBANON' where not exists (select null from country where countrycode = 'LB')
insert into country (countrycode,countryname)  select 'LC','SAINT LUCIA' where not exists (select null from country where countrycode = 'LC')
insert into country (countrycode,countryname)  select 'LI','LIECHTENSTEIN' where not exists (select null from country where countrycode = 'LI')
insert into country (countrycode,countryname)  select 'LK','SRI LANKA' where not exists (select null from country where countrycode = 'LK')
insert into country (countrycode,countryname)  select 'LR','LIBERIA' where not exists (select null from country where countrycode = 'LR')
insert into country (countrycode,countryname)  select 'LS','LESOTHO' where not exists (select null from country where countrycode = 'LS')
insert into country (countrycode,countryname)  select 'LT','LITHUANIA' where not exists (select null from country where countrycode = 'LT')
insert into country (countrycode,countryname)  select 'LU','LUXEMBOURG' where not exists (select null from country where countrycode = 'LU')
insert into country (countrycode,countryname)  select 'LV','LATVIA' where not exists (select null from country where countrycode = 'LV')
insert into country (countrycode,countryname)  select 'LY','LIBYAN ARAB JAMAHIRIYA' where not exists (select null from country where countrycode = 'LY')
insert into country (countrycode,countryname)  select 'MA','MOROCCO' where not exists (select null from country where countrycode = 'MA')
insert into country (countrycode,countryname)  select 'MC','MONACO' where not exists (select null from country where countrycode = 'MC')
insert into country (countrycode,countryname)  select 'MD','MOLDOVA, REPUBLIC OF' where not exists (select null from country where countrycode = 'MD')
insert into country (countrycode,countryname)  select 'MG','MADAGASCAR' where not exists (select null from country where countrycode = 'MG')
insert into country (countrycode,countryname)  select 'MH','MARSHALL ISLANDS' where not exists (select null from country where countrycode = 'MH')
insert into country (countrycode,countryname)  select 'MK','MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF' where not exists (select null from country where countrycode = 'MK')
insert into country (countrycode,countryname)  select 'ML','MALI' where not exists (select null from country where countrycode = 'ML')
insert into country (countrycode,countryname)  select 'MM','MYANMAR' where not exists (select null from country where countrycode = 'MM')
insert into country (countrycode,countryname)  select 'MN','MONGOLIA' where not exists (select null from country where countrycode = 'MN')
insert into country (countrycode,countryname)  select 'MO','MACAO' where not exists (select null from country where countrycode = 'MO')
insert into country (countrycode,countryname)  select 'MP','NORTHERN MARIANA ISLANDS' where not exists (select null from country where countrycode = 'MP')
insert into country (countrycode,countryname)  select 'MQ','MARTINIQUE' where not exists (select null from country where countrycode = 'MQ')
insert into country (countrycode,countryname)  select 'MR','MAURITANIA' where not exists (select null from country where countrycode = 'MR')
insert into country (countrycode,countryname)  select 'MS','MONTSERRAT' where not exists (select null from country where countrycode = 'MS')
insert into country (countrycode,countryname)  select 'MT','MALTA' where not exists (select null from country where countrycode = 'MT')
insert into country (countrycode,countryname)  select 'MU','MAURITIUS' where not exists (select null from country where countrycode = 'MU')
insert into country (countrycode,countryname)  select 'MV','MALDIVES' where not exists (select null from country where countrycode = 'MV')
insert into country (countrycode,countryname)  select 'MW','MALAWI' where not exists (select null from country where countrycode = 'MW')
insert into country (countrycode,countryname)  select 'MX','MEXICO' where not exists (select null from country where countrycode = 'MX')
insert into country (countrycode,countryname)  select 'MY','MALAYSIA' where not exists (select null from country where countrycode = 'MY')
insert into country (countrycode,countryname)  select 'MZ','MOZAMBIQUE' where not exists (select null from country where countrycode = 'MZ')
insert into country (countrycode,countryname)  select 'NA','NAMIBIA' where not exists (select null from country where countrycode = 'NA')
insert into country (countrycode,countryname)  select 'NC','NEW CALEDONIA' where not exists (select null from country where countrycode = 'NC')
insert into country (countrycode,countryname)  select 'NE','NIGER' where not exists (select null from country where countrycode = 'NE')
insert into country (countrycode,countryname)  select 'NF','NORFOLK ISLAND' where not exists (select null from country where countrycode = 'NF')
insert into country (countrycode,countryname)  select 'NG','NIGERIA' where not exists (select null from country where countrycode = 'NG')
insert into country (countrycode,countryname)  select 'NI','NICARAGUA' where not exists (select null from country where countrycode = 'NI')
insert into country (countrycode,countryname)  select 'NL','NETHERLANDS' where not exists (select null from country where countrycode = 'NL')
insert into country (countrycode,countryname)  select 'NO','NORWAY' where not exists (select null from country where countrycode = 'NO')
insert into country (countrycode,countryname)  select 'NP','NEPAL' where not exists (select null from country where countrycode = 'NP')
insert into country (countrycode,countryname)  select 'NR','NAURU' where not exists (select null from country where countrycode = 'NR')
insert into country (countrycode,countryname)  select 'NU','NIUE' where not exists (select null from country where countrycode = 'NU')
insert into country (countrycode,countryname)  select 'NZ','NEW ZEALAND' where not exists (select null from country where countrycode = 'NZ')
insert into country (countrycode,countryname)  select 'OM','OMAN' where not exists (select null from country where countrycode = 'OM')
insert into country (countrycode,countryname)  select 'PA','PANAMA' where not exists (select null from country where countrycode = 'PA')
insert into country (countrycode,countryname)  select 'PE','PERU' where not exists (select null from country where countrycode = 'PE')
insert into country (countrycode,countryname)  select 'PF','FRENCH POLYNESIA' where not exists (select null from country where countrycode = 'PF')
insert into country (countrycode,countryname)  select 'PG','PAPUA NEW GUINEA' where not exists (select null from country where countrycode = 'PG')
insert into country (countrycode,countryname)  select 'PH','PHILIPPINES' where not exists (select null from country where countrycode = 'PH')
insert into country (countrycode,countryname)  select 'PK','PAKISTAN' where not exists (select null from country where countrycode = 'PK')
insert into country (countrycode,countryname)  select 'PL','POLAND' where not exists (select null from country where countrycode = 'PL')
insert into country (countrycode,countryname)  select 'PM','SAINT PIERRE AND MIQUELON' where not exists (select null from country where countrycode = 'PM')
insert into country (countrycode,countryname)  select 'PN','PITCAIRN' where not exists (select null from country where countrycode = 'PN')
insert into country (countrycode,countryname)  select 'PR','PUERTO RICO' where not exists (select null from country where countrycode = 'PR')
insert into country (countrycode,countryname)  select 'PS','PALESTINIAN TERRITORY, OCCUPIED' where not exists (select null from country where countrycode = 'PS')
insert into country (countrycode,countryname)  select 'PT','PORTUGAL' where not exists (select null from country where countrycode = 'PT')
insert into country (countrycode,countryname)  select 'PW','PALAU' where not exists (select null from country where countrycode = 'PW')
insert into country (countrycode,countryname)  select 'PY','PARAGUAY' where not exists (select null from country where countrycode = 'PY')
insert into country (countrycode,countryname)  select 'QA','QATAR' where not exists (select null from country where countrycode = 'QA')
insert into country (countrycode,countryname)  select 'RE','RÉUNION' where not exists (select null from country where countrycode = 'RE')
insert into country (countrycode,countryname)  select 'RO','ROMANIA' where not exists (select null from country where countrycode = 'RO')
insert into country (countrycode,countryname)  select 'RU','RUSSIAN FEDERATION' where not exists (select null from country where countrycode = 'RU')
insert into country (countrycode,countryname)  select 'RW','RWANDA' where not exists (select null from country where countrycode = 'RW')
insert into country (countrycode,countryname)  select 'SA','SAUDI ARABIA' where not exists (select null from country where countrycode = 'SA')
insert into country (countrycode,countryname)  select 'SB','SOLOMON ISLANDS' where not exists (select null from country where countrycode = 'SB')
insert into country (countrycode,countryname)  select 'SC','SEYCHELLES' where not exists (select null from country where countrycode = 'SC')
insert into country (countrycode,countryname)  select 'SD','SUDAN' where not exists (select null from country where countrycode = 'SD')
insert into country (countrycode,countryname)  select 'SE','SWEDEN' where not exists (select null from country where countrycode = 'SE')
insert into country (countrycode,countryname)  select 'SG','SINGAPORE' where not exists (select null from country where countrycode = 'SG')
insert into country (countrycode,countryname)  select 'SH','SAINT HELENA' where not exists (select null from country where countrycode = 'SH')
insert into country (countrycode,countryname)  select 'SI','SLOVENIA' where not exists (select null from country where countrycode = 'SI')
insert into country (countrycode,countryname)  select 'SJ','SVALBARD AND JAN MAYEN' where not exists (select null from country where countrycode = 'SJ')
insert into country (countrycode,countryname)  select 'SK','SLOVAKIA' where not exists (select null from country where countrycode = 'SK')
insert into country (countrycode,countryname)  select 'SL','SIERRA LEONE' where not exists (select null from country where countrycode = 'SL')
insert into country (countrycode,countryname)  select 'SM','SAN MARINO' where not exists (select null from country where countrycode = 'SM')
insert into country (countrycode,countryname)  select 'SN','SENEGAL' where not exists (select null from country where countrycode = 'SN')
insert into country (countrycode,countryname)  select 'SO','SOMALIA' where not exists (select null from country where countrycode = 'SO')
insert into country (countrycode,countryname)  select 'SR','SURINAME' where not exists (select null from country where countrycode = 'SR')
insert into country (countrycode,countryname)  select 'ST','SAO TOME AND PRINCIPE' where not exists (select null from country where countrycode = 'ST')
insert into country (countrycode,countryname)  select 'SV','EL SALVADOR' where not exists (select null from country where countrycode = 'SV')
insert into country (countrycode,countryname)  select 'SY','SYRIAN ARAB REPUBLIC' where not exists (select null from country where countrycode = 'SY')
insert into country (countrycode,countryname)  select 'SZ','SWAZILAND' where not exists (select null from country where countrycode = 'SZ')
insert into country (countrycode,countryname)  select 'TC','TURKS AND CAICOS ISLANDS' where not exists (select null from country where countrycode = 'TC')
insert into country (countrycode,countryname)  select 'TD','CHAD' where not exists (select null from country where countrycode = 'TD')
insert into country (countrycode,countryname)  select 'TF','FRENCH SOUTHERN TERRITORIES' where not exists (select null from country where countrycode = 'TF')
insert into country (countrycode,countryname)  select 'TG','TOGO' where not exists (select null from country where countrycode = 'TG')
insert into country (countrycode,countryname)  select 'TH','THAILAND' where not exists (select null from country where countrycode = 'TH')
insert into country (countrycode,countryname)  select 'TJ','TAJIKISTAN' where not exists (select null from country where countrycode = 'TJ')
insert into country (countrycode,countryname)  select 'TK','TOKELAU' where not exists (select null from country where countrycode = 'TK')
insert into country (countrycode,countryname)  select 'TL','EAST TIMOR' where not exists (select null from country where countrycode = 'TL')
insert into country (countrycode,countryname)  select 'TM','TURKMENISTAN' where not exists (select null from country where countrycode = 'TM')
insert into country (countrycode,countryname)  select 'TN','TUNISIA' where not exists (select null from country where countrycode = 'TN')
insert into country (countrycode,countryname)  select 'TO','TONGA' where not exists (select null from country where countrycode = 'TO')
insert into country (countrycode,countryname)  select 'TR','TURKEY' where not exists (select null from country where countrycode = 'TR')
insert into country (countrycode,countryname)  select 'TT','TRINIDAD AND TOBAGO' where not exists (select null from country where countrycode = 'TT')
insert into country (countrycode,countryname)  select 'TV','TUVALU' where not exists (select null from country where countrycode = 'TV')
insert into country (countrycode,countryname)  select 'TW','TAIWAN, PROVINCE OF CHINA' where not exists (select null from country where countrycode = 'TW')
insert into country (countrycode,countryname)  select 'TZ','TANZANIA, UNITED REPUBLIC OF' where not exists (select null from country where countrycode = 'TZ')
insert into country (countrycode,countryname)  select 'UA','UKRAINE' where not exists (select null from country where countrycode = 'UA')
insert into country (countrycode,countryname)  select 'UG','UGANDA' where not exists (select null from country where countrycode = 'UG')
insert into country (countrycode,countryname)  select 'UM','UNITED STATES MINOR OUTLYING ISLANDS' where not exists (select null from country where countrycode = 'UM')
insert into country (countrycode,countryname)  select 'US','UNITED STATES' where not exists (select null from country where countrycode = 'US')
insert into country (countrycode,countryname)  select 'UY','URUGUAY' where not exists (select null from country where countrycode = 'UY')
insert into country (countrycode,countryname)  select 'UZ','UZBEKISTAN' where not exists (select null from country where countrycode = 'UZ')
insert into country (countrycode,countryname)  select 'VA','HOLY SEE (VATICAN CITY STATE)' where not exists (select null from country where countrycode = 'VA')
insert into country (countrycode,countryname)  select 'VC','SAINT VINCENT AND THE GRENADINES' where not exists (select null from country where countrycode = 'VC')
insert into country (countrycode,countryname)  select 'VE','VENEZUELA' where not exists (select null from country where countrycode = 'VE')
insert into country (countrycode,countryname)  select 'VG','VIRGIN ISLANDS, BRITISH' where not exists (select null from country where countrycode = 'VG')
insert into country (countrycode,countryname)  select 'VI','VIRGIN ISLANDS, U.S.' where not exists (select null from country where countrycode = 'VI')
insert into country (countrycode,countryname)  select 'VN','VIET NAM' where not exists (select null from country where countrycode = 'VN')
insert into country (countrycode,countryname)  select 'VU','VANUATU' where not exists (select null from country where countrycode = 'VU')
insert into country (countrycode,countryname)  select 'WF','WALLIS AND FUTUNA' where not exists (select null from country where countrycode = 'WF')
insert into country (countrycode,countryname)  select 'WS','SAMOA' where not exists (select null from country where countrycode = 'WS')
insert into country (countrycode,countryname)  select 'YE','YEMEN' where not exists (select null from country where countrycode = 'YE')
insert into country (countrycode,countryname)  select 'YT','MAYOTTE' where not exists (select null from country where countrycode = 'YT')
insert into country (countrycode,countryname)  select 'YU','YUGOSLAVIA' where not exists (select null from country where countrycode = 'YU')
insert into country (countrycode,countryname)  select 'ZA','SOUTH AFRICA' where not exists (select null from country where countrycode = 'ZA')
insert into country (countrycode,countryname)  select 'ZM','ZAMBIA' where not exists (select null from country where countrycode = 'ZM')
insert into country (countrycode,countryname)  select 'ZW','ZIMBABWE' where not exists (select null from country where countrycode = 'ZW')
GO

----------------------------------------------------------
insert into language
select '**','THE DEFAULT LANGUAGE' where not exists (select null from language where lancode = '**')insert into language (lancode,lanname)  select '**','THE DEFAULT LANGUAGE' where not exists (select null from language where lancode = '**')
insert into language (lancode,lanname)  select 'aa','Afar' where not exists (select null from language where lancode = 'aa')
insert into language (lancode,lanname)  select 'ab','Abkhazian' where not exists (select null from language where lancode = 'ab')
insert into language (lancode,lanname)  select 'ae','Avestan' where not exists (select null from language where lancode = 'ae')
insert into language (lancode,lanname)  select 'af','Afrikaans' where not exists (select null from language where lancode = 'af')
insert into language (lancode,lanname)  select 'ak','Akan' where not exists (select null from language where lancode = 'ak')
insert into language (lancode,lanname)  select 'am','Amharic' where not exists (select null from language where lancode = 'am')
insert into language (lancode,lanname)  select 'an','Aragonese' where not exists (select null from language where lancode = 'an')
insert into language (lancode,lanname)  select 'ar','Arabic' where not exists (select null from language where lancode = 'ar')
insert into language (lancode,lanname)  select 'as','Assamese' where not exists (select null from language where lancode = 'as')
insert into language (lancode,lanname)  select 'av','Avaric' where not exists (select null from language where lancode = 'av')
insert into language (lancode,lanname)  select 'ay','Aymara' where not exists (select null from language where lancode = 'ay')
insert into language (lancode,lanname)  select 'az','Azerbaijani' where not exists (select null from language where lancode = 'az')
insert into language (lancode,lanname)  select 'ba','Bashkir' where not exists (select null from language where lancode = 'ba')
insert into language (lancode,lanname)  select 'be','Belarusian' where not exists (select null from language where lancode = 'be')
insert into language (lancode,lanname)  select 'bg','Bulgarian' where not exists (select null from language where lancode = 'bg')
insert into language (lancode,lanname)  select 'bh','Bihari' where not exists (select null from language where lancode = 'bh')
insert into language (lancode,lanname)  select 'bi','Bislama' where not exists (select null from language where lancode = 'bi')
insert into language (lancode,lanname)  select 'bm','Bambara' where not exists (select null from language where lancode = 'bm')
insert into language (lancode,lanname)  select 'bn','Bengali' where not exists (select null from language where lancode = 'bn')
insert into language (lancode,lanname)  select 'bo','Tibetan' where not exists (select null from language where lancode = 'bo')
insert into language (lancode,lanname)  select 'br','Breton' where not exists (select null from language where lancode = 'br')
insert into language (lancode,lanname)  select 'bs','Bosnian' where not exists (select null from language where lancode = 'bs')
insert into language (lancode,lanname)  select 'ca','Catalan' where not exists (select null from language where lancode = 'ca')
insert into language (lancode,lanname)  select 'ce','Chechen' where not exists (select null from language where lancode = 'ce')
insert into language (lancode,lanname)  select 'ch','Chamorro' where not exists (select null from language where lancode = 'ch')
insert into language (lancode,lanname)  select 'co','Corsican' where not exists (select null from language where lancode = 'co')
insert into language (lancode,lanname)  select 'cr','Cree' where not exists (select null from language where lancode = 'cr')
insert into language (lancode,lanname)  select 'cs','Czech' where not exists (select null from language where lancode = 'cs')
insert into language (lancode,lanname)  select 'cu','Church Slavic' where not exists (select null from language where lancode = 'cu')
insert into language (lancode,lanname)  select 'cv','Chuvash' where not exists (select null from language where lancode = 'cv')
insert into language (lancode,lanname)  select 'cy','Welsh' where not exists (select null from language where lancode = 'cy')
insert into language (lancode,lanname)  select 'da','Danish' where not exists (select null from language where lancode = 'da')
insert into language (lancode,lanname)  select 'de','German' where not exists (select null from language where lancode = 'de')
insert into language (lancode,lanname)  select 'dv','Dhivehi' where not exists (select null from language where lancode = 'dv')
insert into language (lancode,lanname)  select 'dz','Dzongkha' where not exists (select null from language where lancode = 'dz')
insert into language (lancode,lanname)  select 'ee','Ewe' where not exists (select null from language where lancode = 'ee')
insert into language (lancode,lanname)  select 'el','Greek, Modern' where not exists (select null from language where lancode = 'el')
insert into language (lancode,lanname)  select 'en','English' where not exists (select null from language where lancode = 'en')
insert into language (lancode,lanname)  select 'eo','Esperanto' where not exists (select null from language where lancode = 'eo')
insert into language (lancode,lanname)  select 'es','Spanish' where not exists (select null from language where lancode = 'es')
insert into language (lancode,lanname)  select 'et','Estonian' where not exists (select null from language where lancode = 'et')
insert into language (lancode,lanname)  select 'eu','Basque' where not exists (select null from language where lancode = 'eu')
insert into language (lancode,lanname)  select 'fa','Persian' where not exists (select null from language where lancode = 'fa')
insert into language (lancode,lanname)  select 'ff','Fulah' where not exists (select null from language where lancode = 'ff')
insert into language (lancode,lanname)  select 'fi','Finnish' where not exists (select null from language where lancode = 'fi')
insert into language (lancode,lanname)  select 'fo','Faroese' where not exists (select null from language where lancode = 'fo')
insert into language (lancode,lanname)  select 'fr','French' where not exists (select null from language where lancode = 'fr')
insert into language (lancode,lanname)  select 'fy','Western Frisian' where not exists (select null from language where lancode = 'fy')
insert into language (lancode,lanname)  select 'ga','Irish' where not exists (select null from language where lancode = 'ga')
insert into language (lancode,lanname)  select 'gd','Gaelic' where not exists (select null from language where lancode = 'gd')
insert into language (lancode,lanname)  select 'gl','Galician' where not exists (select null from language where lancode = 'gl')
insert into language (lancode,lanname)  select 'gn','Guarani' where not exists (select null from language where lancode = 'gn')
insert into language (lancode,lanname)  select 'gu','Gujarati' where not exists (select null from language where lancode = 'gu')
insert into language (lancode,lanname)  select 'gv','Manx' where not exists (select null from language where lancode = 'gv')
insert into language (lancode,lanname)  select 'ha','Hausa' where not exists (select null from language where lancode = 'ha')
insert into language (lancode,lanname)  select 'he','Hebrew' where not exists (select null from language where lancode = 'he')
insert into language (lancode,lanname)  select 'hi','Hindi' where not exists (select null from language where lancode = 'hi')
insert into language (lancode,lanname)  select 'ho','Hiri Motu' where not exists (select null from language where lancode = 'ho')
insert into language (lancode,lanname)  select 'hr','Croatian' where not exists (select null from language where lancode = 'hr')
insert into language (lancode,lanname)  select 'ht','Haitian' where not exists (select null from language where lancode = 'ht')
insert into language (lancode,lanname)  select 'hu','Hungarian' where not exists (select null from language where lancode = 'hu')
insert into language (lancode,lanname)  select 'hy','Armenian' where not exists (select null from language where lancode = 'hy')
insert into language (lancode,lanname)  select 'hz','Herero' where not exists (select null from language where lancode = 'hz')
insert into language (lancode,lanname)  select 'ia','Interlingua' where not exists (select null from language where lancode = 'ia')
insert into language (lancode,lanname)  select 'id','Indonesian' where not exists (select null from language where lancode = 'id')
insert into language (lancode,lanname)  select 'ie','Interlingue' where not exists (select null from language where lancode = 'ie')
insert into language (lancode,lanname)  select 'ig','Igbo' where not exists (select null from language where lancode = 'ig')
insert into language (lancode,lanname)  select 'ii','Sichuan Yi' where not exists (select null from language where lancode = 'ii')
insert into language (lancode,lanname)  select 'ik','Inupiaq' where not exists (select null from language where lancode = 'ik')
insert into language (lancode,lanname)  select 'io','Ido' where not exists (select null from language where lancode = 'io')
insert into language (lancode,lanname)  select 'is','Icelandic' where not exists (select null from language where lancode = 'is')
insert into language (lancode,lanname)  select 'it','Italian' where not exists (select null from language where lancode = 'it')
insert into language (lancode,lanname)  select 'iu','Inuktitut' where not exists (select null from language where lancode = 'iu')
insert into language (lancode,lanname)  select 'ja','Japanese' where not exists (select null from language where lancode = 'ja')
insert into language (lancode,lanname)  select 'jv','Javanese' where not exists (select null from language where lancode = 'jv')
insert into language (lancode,lanname)  select 'ka','Georgian' where not exists (select null from language where lancode = 'ka')
insert into language (lancode,lanname)  select 'kg','Kongo' where not exists (select null from language where lancode = 'kg')
insert into language (lancode,lanname)  select 'ki','Kikuyu' where not exists (select null from language where lancode = 'ki')
insert into language (lancode,lanname)  select 'kj','Kuanyama' where not exists (select null from language where lancode = 'kj')
insert into language (lancode,lanname)  select 'kk','Kazakh' where not exists (select null from language where lancode = 'kk')
insert into language (lancode,lanname)  select 'kl','Kalaallisut' where not exists (select null from language where lancode = 'kl')
insert into language (lancode,lanname)  select 'km','Central Khmer' where not exists (select null from language where lancode = 'km')
insert into language (lancode,lanname)  select 'kn','Kannada' where not exists (select null from language where lancode = 'kn')
insert into language (lancode,lanname)  select 'ko','Korean' where not exists (select null from language where lancode = 'ko')
insert into language (lancode,lanname)  select 'kr','Kanuri' where not exists (select null from language where lancode = 'kr')
insert into language (lancode,lanname)  select 'ks','Kashmiri' where not exists (select null from language where lancode = 'ks')
insert into language (lancode,lanname)  select 'ku','Kurdish' where not exists (select null from language where lancode = 'ku')
insert into language (lancode,lanname)  select 'kv','Komi' where not exists (select null from language where lancode = 'kv')
insert into language (lancode,lanname)  select 'kw','Cornish' where not exists (select null from language where lancode = 'kw')
insert into language (lancode,lanname)  select 'ky','Kirghiz' where not exists (select null from language where lancode = 'ky')
insert into language (lancode,lanname)  select 'la','Latin' where not exists (select null from language where lancode = 'la')
insert into language (lancode,lanname)  select 'lb','Luxembourgish' where not exists (select null from language where lancode = 'lb')
insert into language (lancode,lanname)  select 'lg','Ganda' where not exists (select null from language where lancode = 'lg')
insert into language (lancode,lanname)  select 'li','Limburgish' where not exists (select null from language where lancode = 'li')
insert into language (lancode,lanname)  select 'ln','Lingala' where not exists (select null from language where lancode = 'ln')
insert into language (lancode,lanname)  select 'lo','Lao' where not exists (select null from language where lancode = 'lo')
insert into language (lancode,lanname)  select 'lt','Lithuanian' where not exists (select null from language where lancode = 'lt')
insert into language (lancode,lanname)  select 'lu','Luba-Katanga' where not exists (select null from language where lancode = 'lu')
insert into language (lancode,lanname)  select 'lv','Latvian' where not exists (select null from language where lancode = 'lv')
insert into language (lancode,lanname)  select 'mg','Malagasy' where not exists (select null from language where lancode = 'mg')
insert into language (lancode,lanname)  select 'mh','Marshallese' where not exists (select null from language where lancode = 'mh')
insert into language (lancode,lanname)  select 'mi','Maori' where not exists (select null from language where lancode = 'mi')
insert into language (lancode,lanname)  select 'mk','Macedonian' where not exists (select null from language where lancode = 'mk')
insert into language (lancode,lanname)  select 'ml','Malayalam' where not exists (select null from language where lancode = 'ml')
insert into language (lancode,lanname)  select 'mn','Mongolian' where not exists (select null from language where lancode = 'mn')
insert into language (lancode,lanname)  select 'mo','Moldavian' where not exists (select null from language where lancode = 'mo')
insert into language (lancode,lanname)  select 'mr','Marathi' where not exists (select null from language where lancode = 'mr')
insert into language (lancode,lanname)  select 'ms','Malay' where not exists (select null from language where lancode = 'ms')
insert into language (lancode,lanname)  select 'mt','Maltese' where not exists (select null from language where lancode = 'mt')
insert into language (lancode,lanname)  select 'my','Burmese' where not exists (select null from language where lancode = 'my')
insert into language (lancode,lanname)  select 'na','Nauru' where not exists (select null from language where lancode = 'na')
insert into language (lancode,lanname)  select 'nb','Norwegian Bokmål' where not exists (select null from language where lancode = 'nb')
insert into language (lancode,lanname)  select 'nd','North Ndebele' where not exists (select null from language where lancode = 'nd')
insert into language (lancode,lanname)  select 'ne','Nepali' where not exists (select null from language where lancode = 'ne')
insert into language (lancode,lanname)  select 'ng','Ndonga' where not exists (select null from language where lancode = 'ng')
insert into language (lancode,lanname)  select 'nl','Dutch' where not exists (select null from language where lancode = 'nl')
insert into language (lancode,lanname)  select 'nn','Norwegian Nynorsk' where not exists (select null from language where lancode = 'nn')
insert into language (lancode,lanname)  select 'no','Norwegian' where not exists (select null from language where lancode = 'no')
insert into language (lancode,lanname)  select 'nr','South Ndebele' where not exists (select null from language where lancode = 'nr')
insert into language (lancode,lanname)  select 'nv','Navajo' where not exists (select null from language where lancode = 'nv')
insert into language (lancode,lanname)  select 'ny','Nyanja' where not exists (select null from language where lancode = 'ny')
insert into language (lancode,lanname)  select 'oc','Provençal' where not exists (select null from language where lancode = 'oc')
insert into language (lancode,lanname)  select 'oj','Ojibwa' where not exists (select null from language where lancode = 'oj')
insert into language (lancode,lanname)  select 'om','Oromo' where not exists (select null from language where lancode = 'om')
insert into language (lancode,lanname)  select 'or','Oriya' where not exists (select null from language where lancode = 'or')
insert into language (lancode,lanname)  select 'os','Ossetic' where not exists (select null from language where lancode = 'os')
insert into language (lancode,lanname)  select 'pa','Punjabi' where not exists (select null from language where lancode = 'pa')
insert into language (lancode,lanname)  select 'pi','Pali' where not exists (select null from language where lancode = 'pi')
insert into language (lancode,lanname)  select 'pl','Polish' where not exists (select null from language where lancode = 'pl')
insert into language (lancode,lanname)  select 'ps','Pushto' where not exists (select null from language where lancode = 'ps')
insert into language (lancode,lanname)  select 'pt','Portuguese' where not exists (select null from language where lancode = 'pt')
insert into language (lancode,lanname)  select 'qu','Quechua' where not exists (select null from language where lancode = 'qu')
insert into language (lancode,lanname)  select 'rm','Romansh' where not exists (select null from language where lancode = 'rm')
insert into language (lancode,lanname)  select 'rn','Rundi' where not exists (select null from language where lancode = 'rn')
insert into language (lancode,lanname)  select 'ro','Romanian' where not exists (select null from language where lancode = 'ro')
insert into language (lancode,lanname)  select 'ru','Russian' where not exists (select null from language where lancode = 'ru')
insert into language (lancode,lanname)  select 'rw','Kinyarwanda' where not exists (select null from language where lancode = 'rw')
insert into language (lancode,lanname)  select 'sa','Sanskrit' where not exists (select null from language where lancode = 'sa')
insert into language (lancode,lanname)  select 'sc','Sardinian' where not exists (select null from language where lancode = 'sc')
insert into language (lancode,lanname)  select 'sd','Sindhi' where not exists (select null from language where lancode = 'sd')
insert into language (lancode,lanname)  select 'se','Northern Sami' where not exists (select null from language where lancode = 'se')
insert into language (lancode,lanname)  select 'sg','Sango' where not exists (select null from language where lancode = 'sg')
insert into language (lancode,lanname)  select 'si','Sinhala' where not exists (select null from language where lancode = 'si')
insert into language (lancode,lanname)  select 'sk','Slovak' where not exists (select null from language where lancode = 'sk')
insert into language (lancode,lanname)  select 'sl','Slovenian' where not exists (select null from language where lancode = 'sl')
insert into language (lancode,lanname)  select 'sm','Samoan' where not exists (select null from language where lancode = 'sm')
insert into language (lancode,lanname)  select 'sn','Shona' where not exists (select null from language where lancode = 'sn')
insert into language (lancode,lanname)  select 'so','Somali' where not exists (select null from language where lancode = 'so')
insert into language (lancode,lanname)  select 'sq','Albanian' where not exists (select null from language where lancode = 'sq')
insert into language (lancode,lanname)  select 'sr','Serbian' where not exists (select null from language where lancode = 'sr')
insert into language (lancode,lanname)  select 'ss','Swati' where not exists (select null from language where lancode = 'ss')
insert into language (lancode,lanname)  select 'st','Sotho, Southern' where not exists (select null from language where lancode = 'st')
insert into language (lancode,lanname)  select 'su','Sundanese' where not exists (select null from language where lancode = 'su')
insert into language (lancode,lanname)  select 'sv','Swedish' where not exists (select null from language where lancode = 'sv')
insert into language (lancode,lanname)  select 'sw','Swahili' where not exists (select null from language where lancode = 'sw')
insert into language (lancode,lanname)  select 'ta','Tamil' where not exists (select null from language where lancode = 'ta')
insert into language (lancode,lanname)  select 'te','Telugu' where not exists (select null from language where lancode = 'te')
insert into language (lancode,lanname)  select 'tg','Tajik' where not exists (select null from language where lancode = 'tg')
insert into language (lancode,lanname)  select 'th','Thai' where not exists (select null from language where lancode = 'th')
insert into language (lancode,lanname)  select 'ti','Tigrinya' where not exists (select null from language where lancode = 'ti')
insert into language (lancode,lanname)  select 'tk','Turkmen' where not exists (select null from language where lancode = 'tk')
insert into language (lancode,lanname)  select 'tl','Tagalog' where not exists (select null from language where lancode = 'tl')
insert into language (lancode,lanname)  select 'tn','Tswana' where not exists (select null from language where lancode = 'tn')
insert into language (lancode,lanname)  select 'to','Tonga' where not exists (select null from language where lancode = 'to')
insert into language (lancode,lanname)  select 'tr','Turkish' where not exists (select null from language where lancode = 'tr')
insert into language (lancode,lanname)  select 'ts','Tsonga' where not exists (select null from language where lancode = 'ts')
insert into language (lancode,lanname)  select 'tt','Tatar' where not exists (select null from language where lancode = 'tt')
insert into language (lancode,lanname)  select 'tw','Twi' where not exists (select null from language where lancode = 'tw')
insert into language (lancode,lanname)  select 'ty','Tahitian' where not exists (select null from language where lancode = 'ty')
insert into language (lancode,lanname)  select 'ug','Uyghur' where not exists (select null from language where lancode = 'ug')
insert into language (lancode,lanname)  select 'uk','Ukrainian' where not exists (select null from language where lancode = 'uk')
insert into language (lancode,lanname)  select 'ur','Urdu' where not exists (select null from language where lancode = 'ur')
insert into language (lancode,lanname)  select 'uz','Uzbek' where not exists (select null from language where lancode = 'uz')
insert into language (lancode,lanname)  select 've','Venda' where not exists (select null from language where lancode = 've')
insert into language (lancode,lanname)  select 'vi','Vietnamese' where not exists (select null from language where lancode = 'vi')
insert into language (lancode,lanname)  select 'vo','Volapük' where not exists (select null from language where lancode = 'vo')
insert into language (lancode,lanname)  select 'wa','Walloon' where not exists (select null from language where lancode = 'wa')
insert into language (lancode,lanname)  select 'wo','Wolof' where not exists (select null from language where lancode = 'wo')
insert into language (lancode,lanname)  select 'xh','Xhosa' where not exists (select null from language where lancode = 'xh')
insert into language (lancode,lanname)  select 'yi','Yiddish' where not exists (select null from language where lancode = 'yi')
insert into language (lancode,lanname)  select 'yo','Yoruba' where not exists (select null from language where lancode = 'yo')
insert into language (lancode,lanname)  select 'za','Zhuang' where not exists (select null from language where lancode = 'za')
insert into language (lancode,lanname)  select 'zh','Chinese' where not exists (select null from language where lancode = 'zh')
insert into language (lancode,lanname)  select 'zu','Zulu' where not exists (select null from language where lancode = 'zu')
GO

-----
