body {
    background-color: #FFFFFF;
    margin-top: 20px;
    padding: 5px;
}

a {
    /* color: #000000; */
    color: blue;
    text-decoration: underline;
}

a:hover {
    color: #666666;
    text-decoration: underline;
}

h1 {
    color: #000000;
}

h2 {
    color: #000000;
}

h3 {

    padding-top: 10px;
    color: #000000;
}

.maincontent {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    /* font-size: 11px; */
    font-size: 12px;
    padding-top: 0px;
    line-height: 16px;
    color: #333333;
    vertical-align: top;
    /*
    width: 600px;
    margin-left: auto;
    margin-right: auto;
       */
}

p {

}

.feedback {
    color: #3333ff;
    font-style: italic;
}

h2 {
    margin-left: 0px;
}

.content {
    margin-left: 5px;
}

label {
    font-size: small;
    width: 150px;
    text-align: right;
}

input {
    font-size: small;
}

div#codebox {
        background-color: #f9fac9;
        font: normal 12px "Courier New", monospace;
        border: solid 1px black;
        padding: 5px;
        white-space: nowrap;
        overflow: auto;
        width: 800px;

        margin-left: 15px;
}
