<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:/org/atomserver/applicationContext.xml,
            classpath:/org/atomserver/spring/ext/*.xml
        </param-value>
    </context-param>

    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

    <filter>
        <filter-name>around</filter-name>
        <filter-class>org.atomserver.app.AroundRequestFilter</filter-class>
    </filter>

    <filter>
        <filter-name>access</filter-name>
        <filter-class>org.atomserver.app.AtompubV2Adapter</filter-class>
    </filter>

    <filter>
        <description>Jersey JAX-RS Servlet Filter</description>
        <filter-name>jersey</filter-name>
        <filter-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</filter-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>org.atomserver.app</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.config.property.WebPageContentRegex</param-name>
            <!-- TODO: modify this regex -->
            <param-value>/|(/.*\.html)|(/(images|js|css)/.*)|(/perf4j)</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
            <param-value>org.atomserver.app.jaxrs.AroundJaxrsFilter</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
            <param-value>org.atomserver.app.jaxrs.AroundJaxrsFilter</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>around</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>access</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>jersey</filter-name>
        <url-pattern>/app/*</url-pattern>
    </filter-mapping>

</web-app>
